app/__pycache__/
spring-shell.log
.env
.pytest_cache
.kubeconfig
.scdfkubeconfig
scripts/commands/create-scdf-ml-pipeline.txt
scripts/commands/update-scdf-ml-pipeline.txt
java/
scdfutils/__pycache__/
tests/__pycache__/
