matplotlib
pmdarima
prophet
psycopg2-binary
sqlalchemy
python-dotenv
pandas
wheel
scikit-learn
nbconvert
seaborn
mlflow
traitlets
scipy
plotly
watchdog
mpld3
streamlit==1.11.1
pika
Pillow
streamlit-autorefresh
jupyterflow
ray[default]
lz4
pyyaml
prometheus-client
protobuf==3.19.5
fastapi
modin[ray]
python-dotenv
https://github.com/agapebondservant/pipeline-wrapper-accelerator/zipball/main